
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
	<title>Task Form</title>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
		<div class="container">
			<h3>New Task</h3>
			<hr>
			
			<form action="#" th:action="@{/todos/save}" th:object="${todo}" method="POST">
			
			<!-- Adding a hidden field to handle update -->
			<input type="hidden" th:field="*{id}"/>
			<input type="text" id="picker" th:field="*{startDate}"
				class="form-control mb-4 col-4" placeholder="Start Date (MM/DD/YYYY)"/>
			<input type="text" th:field="*{task}"
				class="form-control mb-4 col-4" placeholder ="Task" />
			<input type="text" th:field="*{dueDate}"
				class="form-control mb-4 col-4" placeholder ="Due Date (MM/DD/YYYY)" />
			<input type="text" th:field="*{status}"
				class="form-control mb-4 col-4" placeholder ="Status" />

			<button type="submit" class="btn btn-info col-2">Save</button>
			</form>
			<hr>
			<a th:href="@{/todos/list/}">Back to Todo List</a>
		</div>
</body>

</html>